.with-sidebar .post {
	margin-bottom: 70px;
}

.with-sidebar .post-image {
	margin-bottom: 0px;
}

.with-sidebar .post-pic {
	width: 100%;
	height: 200px;
	border-radius: 10px;
	border: 1px solid #d4d4d4;
	padding: 10px;
}

.with-sidebar .post .post-misc {
	margin-top: 10px;
	margin-bottom: 10px;
}

.with-sidebar .post .post-misc .post-date,
.with-sidebar .post .post-misc .tags {
	display: inline-block;
}

.with-sidebar .post-date {
	min-height: 20px;
	margin-bottom: 10px;
	margin-right: 20px;
}

.with-sidebar .date-holder {
	width: 100px;
	background: #fff;
	padding: 0 10px;
	text-align: center;
	margin: 0 auto;
	color: #A00707;
	font-family: 'Droid Serif';
	border-right: 2px solid #A00707;
	border-radius: 100px;
}

.with-sidebar .post-content {
	padding: 10px 0;
	border-bottom: 1px solid #d4d4d4; 
}

.with-sidebar .post-links {
	margin-top: 10px;
}
.with-sidebar .post-title {
	text-align: left;
}

.with-sidebar .post-links {
	text-align: center;
}

.with-sidebar .tags {
	text-align: center;
}

.with-sidebar .tags-list li {
	display: inline-block;
}

.with-sidebar .tags-list li a {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	color: #333;
}

.with-sidebar .tags-list li a:hover {
	color: #000;
}

.with-sidebar .post-content p {
	line-height: 20px;
}

.with-sidebar .post-content blockquote {
	font-size: 12px;
	font-family: 'Droid Serif';
	color: #333;
	font-style: italic;
	border-left: 5px solid #A00707;
	border-radius: 10px 0 0 10px;
}

.with-sidebar .post-comments {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #d4d4d4;
}

.with-sidebar #comments-form .group {
	margin-bottom: 5px;
	font-family: 'Droid Serif';
	font-weight: normal;
}

.with-sidebar #comments-form .group label {
	display: block;
	font-weight: normal;
	margin-bottom: 0;
	padding-left: 5px;
	color: #808080;
}

.with-sidebar #comments-form .group input {
	width: 50%;
	margin-bottom: 0;
	border: 1px solid #d4d4d4;
	height: 30px;
	padding-left: 5px;
	display: inline-block;
	line-height: 30px;
	color: #808080;
	border-radius: 2px;
	outline: none;
	font-family: 'Droid Serif';
}

.with-sidebar #comments-form .group textarea {
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	max-width: 100%;
	width: 100%;
	min-height: 150px;
	outline: none;
	padding-left: 5px;
	line-height: 20px;
	color: #808080;
}

.with-sidebar #comments-form .form-buttons input[type="submit"],
.with-sidebar #comments-form .form-buttons a.preview {
	display: inline-block;
	padding: 3px 20px;
	border-bottom: 2px solid #A00707;
	border-radius: 100px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	background: rgba(199, 11, 11, 0.7);
	color: #fff;
	font-family: 'Droid Serif';
	margin-right: 10px;
}

.with-sidebar #comments-form .form-buttons input[type="submit"] {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.with-sidebar #comments-form .form-buttons input[type="submit"]:hover,
.with-sidebar #comments-form .form-buttons a.preview:hover {
	background: rgba(199, 11, 11, 0.8);
}

/* Sidebar */

.list.social.twitter {
	list-style-image: url('../../img/tw.png') !important;
}

.list.social.fb {
	list-style-image: url('../../img/fb.png') !important;
}

.list.social li {
	margin: 0 0 10px !important;
	border-top: 1px solid #d4d4d4;
}

.list.social.twitter li a {
	color: #A00707 !important;
}

.panel .list li {
	margin-bottom: 10px;
}

.panel .list li a:hover {
	color: #000;
}

/* Search Form */

#sidebar-search-form input {
	width: 100%;
	margin-bottom: 0;
	border: 1px solid #d4d4d4;
	height: 30px;
	padding-left: 5px;
	display: inline-block;
	line-height: 30px;
	color: #808080;
	border-radius: 2px;
	outline: none;
	font-family: 'Droid Serif';
}

/* Tabs */

.nav-tabs li a:hover,
.nav-tabs li.active a {
	border-top: 2px solid #A00707 !important;
}

.tab-list-item {
	margin: 10px 0;
	padding: 5px;
	border-bottom: 1px solid #d4d4d4;
}

.tab-list-item p {
	margin-bottom: 0;
}

.tab-list-item .misc span {
	font-size: 10px;
}

.tab-list-item .misc a {
	font-size: 10px;
}

.tab-list-item-img {
	margin-right: 10px;
	margin-bottom: 10px;
}

.tab-list-item-img img {
	width: 50px;
	height: 50px;
	border-radius: 100px;
}

/* Panels */

.panel .panel-heading {
	border-left: 2px solid #A00707;
	padding-left: 30px;
}

.panel .panel-heading h4 {
	color: #808080;
}

.panel .panel-heading:before {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	content: '+';
	top: 9px;
	left: 5px;
	font-weight: bold;
	font-size: 22px;
	font-family: 'Calibri';
	color: #808080;
}
